<div id="header-outer">
    <div id="header-inner">
        <div id="header-logo">
            <a class="logo" href="/">Videe-O</a>
        </div>
        <div id="header-buttons">
            <a class="header-button">Browse</a> &#183;
            {% if not is_authenticated %}
                <a class="header-button fancybox" href="#login">Log In</a> <a class="header-button fancybox" data-fancybox-type="iframe" href="/profile/create">Sign Up</a>
            {% else %}
                <a class="header-button">Profile</a> <a class="header-button" href="/profile/logout">Log Out</a>
            {% endif %}
        </div>
        <div id="header-search">
            <form id="search" method="get" action="/movie/search">
                <input type="text" name="q" placeholder="User or movie search..."/>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div id="login">
    <form method="post" action="/profile/login">
        {% csrf_token %}
        <h2>Login</h2>
        <table>
            <tr>
                <td>{{ form.username.label_tag }}:</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}:</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <button type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>