<div id="header-outer">
    <div id="header-inner">
        <div id="header-logo">
            <a href="/"><div class="logo">Videe-O</div></a>
        </div>
        <div id="header-buttons">
            <a href="/movie/browse"><div class="header-button">Browse</div></a> &#183;
            {% if not is_authenticated %}
                <a class="login-link" href="#login"><div class="header-button">Log In</div></a> <a class="signup-link" href="#signup"><div class="header-button">Sign Up</div></a>
            {% else %}
                <a href="/profile/{{username}}"><div class="header-button">Profile</div></a> <a href="/profile/logout"><div class="header-button">Log Out</div></a>
            {% endif %}
        </div>
        <div id="header-search">
            <form id="search" method="get" action="/movie/search">
                <input type="text" name="q" placeholder="User or movie search..."/>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div id="login">
    <form id="loginForm" method="post" action="/profile/login">
        {% csrf_token %}
        <h1>Login</h1>
        <table>
            <tr>
                <td><label>{{ login_form.username.label_tag }}:</label></td>
                <td><label>{{ login_form.username }}</label></td>
            </tr>
            <tr>
                <td>{{ login_form.password.label_tag }}:</td>
                <td>{{ login_form.password }}</td>
            </tr>
        </table>
        <div class="centered-text top-margin">
            <button type="submit">Log In</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />

        <div class="error top-margin"></div>

    </form>
</div>

<div id="signup">
    <form id="signupForm" method="post" action="/profile/create">

        {% csrf_token %}

        <h1>Sign Up</h1>

        <div>
            <label>E-mail Address:</label><br/>
            {{ signup_form.email_address }}
        </div>

        <div>
            <label>Username:</label><br/>
            {{ signup_form.username }}
        </div>

        <div>
            <label>Password:</label><br/>
            {{ signup_form.password1 }}
        </div>

        <div>
            <label>Confirm Password:</label><br/>
            {{ signup_form.password2 }}
        </div>
        <div class="centered-text top-margin">
            <button type="submit">Sign Up</button>
        </div>

        <div class="error top-margin"></div>

    </form>
</div>