{% extends "base_generic.html" %}

{% block content %}

<h2>Testing Functions</h2>
<ul>
    <li><a href="/movie/detail/5/">Movie detail page</a></li>
    <li><a href="/profile/create">Create Account</a></li>
    {% if is_authenticated %}
        <li><a href="/profile/logout">Logout</a></li>
    {% else %}
        <li>Logout</li>
    {% endif %}
</ul>
<!-- Login form -->


<h2>List of users:</h2>
{% for user in users %}
	<div style="padding: 10px 0;">Name: {{ user.username }}</div>
{% endfor %}

<h2>Current User</h2>
{{ logged_in_message }}

{% endblock %}