{% extends "base_generic.html" %}

{% block content %}

<div id="browse-movies">
	<div class="centered-text">
        <h1>Browse Movies</h1>
        <div id="filters">
            {% for browse_filter in browse_filters %}
            <form class="browse-filter" action="" method="get">
                Genre: <select name="genre" class="filter-dropdown" id="{{ browse_filter.name }}">
                    {% for option in browse_filter.option_list %}
                    <option value="{{ option.id_ }}" {% ifequal request.GET.genre option.id_|stringformat:"s" %} selected="selected" {% endifequal %}>{{ option.name }}</option>
                    {% endfor %}
                </select>
            </form>
            {% endfor %}
        </div>
    </div>

	<div class="movie-list centered-text right-margin">
        {% if results_list %}
            {% for movie in results_list %}
            <div class="movie-list-item">
                <a href="/movie/detail/{{ movie.m_id }}"><img class="small-poster" src="{{ movie.poster_path }}"/></a>
                <br/>{{ movie.title }}
            </div>
            {% endfor %}
        {% else %}
            <h4>No Movies Found Matching the Criteria</h4>
        {% endif %}
	</div>

    <div id="loading"><img src="/static/img/loading1.gif"></div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        var page = 1;

        $(window).scroll(function() {
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
                page++;
                $('#loading').show();
                $.ajax({
                    method: 'GET',
                    url: '/movie/browse-more/?genre={{genre}}&p=' + page,
                    success: function(data) {
                        var len = data.length;
                        if(len == 0) {
                            $('#loading').hide();
                            $(window).unbind('scroll');
                        }
                        else {
                            for(var i=0; i<len; i++) {
                                $('<div class="movie-list-item"><a href="/movie/detail/'+data[i].id+'"><img class="small-poster" src="'+data[i].poster_path+'"/></a><br/>'+data[i].title+'</div>').hide().appendTo('.movie-list').fadeIn(300);
                            }
                            setTimeout(function() {
                                $('#loading').hide();
                            }, 300);
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}