{% extends "base_generic.html" %}

{% block content %}

<div id="movie-detail-left">
    <img class="movie-poster bot-margin" src="{{ movie.poster_path }}" />

    <div class="bot-margin">Average rating: {{ movie.avg_rating }}</div>

    <!-- Ratings stars -->
        <div class="ratings">

            {% if is_authenticated %}
                <div class="small-text">Rate this movie:</div>

                <div id="rating-stars">
                    <a href="/movie/rate/{{movie_id}}?stars=1">
                        {% if user_rating > 0 %}
                            <div id="star1" class="star-black"></div>
                        {% else %}
                            <div id="star1" class="star-white"></div>
                        {% endif %}
                    </a>
                    <a href="/movie/rate/{{movie_id}}?stars=2">
                        {% if user_rating > 1 %}
                            <div id="star2" class="star-black"></div>
                        {% else %}
                            <div id="star2" class="star-white"></div>
                        {% endif %}
                    </a>
                    <a href="/movie/rate/{{movie_id}}?stars=3">
                        {% if user_rating > 2 %}
                            <div id="star3" class="star-black"></div>
                        {% else %}
                            <div id="star3" class="star-white"></div>
                        {% endif %}
                    </a>
                    <a href="/movie/rate/{{movie_id}}?stars=4">
                        {% if user_rating > 3 %}
                            <div id="star4" class="star-black"></div>
                        {% else %}
                            <div id="star4" class="star-white"></div>
                        {% endif %}
                    </a>
                    <a href="/movie/rate/{{movie_id}}?stars=5">
                        {% if user_rating > 4 %}
                            <div id="star5" class="star-black"></div>
                        {% else %}
                            <div id="star5" class="star-white"></div>
                        {% endif %}
                    </a>
                </div><br/>

                <div class = "movie_list_quick_add">
                    <form action="/profile/userlist/quick_add" method="post">
                        {% csrf_token %}                        
                        <select name="movie_status" required>
                            <option value=""></option>
                            <option value="Watching"> Watching </option>
                            <option value="Plan to Watch"> Plan to Watch </option>
                            <option value="Completed"> Completed </otpion>
                        </select>
                        <input style="display:none;" type="text" name="movie_id" value="{{movie_id}}"> </input>
                        <input type="submit" value="Add Movie to List"> </input>
                    </form>
                </div><br/>
            {% endif %}
        </div>
</div>

<div id="movie-detail-right">
    <h1>{{ movie.title }}</h1>

    <h2>Summary</h2>
    {{ movie.overview }}
    <div class="bot-margin"></div>

    <h2>Details</h2>
    Released: {{ movie.release_date }}
    {% load humanize %}
    <br/>Budget: ${{ movie.budget|intcomma }}
    <br/>Revenue: ${{ movie.revenue|intcomma }}
    <div class="bot-margin"></div>
</div>

<div id="reviews">
    <h1 class="centered-text">Reviews</h1>
    {% if all_reviews %}
        {% for review in all_reviews %}
        <div class="movie_review">
            <div class="user_review_title" {% if is_authenticated and review.is_current_user %} id="user_review_edit_title" {% endif %}>
                {{ review.review.review_title }}
            </div>

            <div class="user_review_body">{% if is_authenticated and review.is_current_user %}<div id="user_review_edit_content"> {% endif %}
                {{ review.review.review_body }}            
            {% if is_authenticated and review.is_current_user %}</div>{%endif%}</div>

            <div>
                <div class="user_review_rating" {% if is_authenticated and review.is_current_user %}id="user_review_edit"{% endif %}> 
                    {{ review.upvote }} {% if is_authenticated %}<a href="/rating/rate/{{movie_id}}/0?review_of={{review.review.user.user}}">{%endif%}<img width="18px" src="/static/img/thumbs_up.png"/></a> | {% if is_authenticated %}{%endif%}
                    {{ review.downvote }} {% if is_authenticated %}<a href="/rating/rate/{{movie_id}}/1?review_of={{review.review.user.user}}">{%endif%}<img width="18px" src="/static/img/thumbs_down.png"/> {% if is_authenticated %}</a>{%endif%}
                </div>

                <div class="review_author">
                    {% if is_authenticated and review.is_current_user %} <a href="#" id="edit_review">Edit</a> | 
                    {% endif %}

                    {% if is_administrator %}
                        {% if not review.review.approved %}
                            <a href="/review/admin_approve_review/{{review.review.user.user}}/{{review.review.movie.m_id}}" id="approve_review">Approve</a> |
                        {% endif %}
                        <a href="/review/admin_delete_review/{{review.review.user.user}}/{{review.review.movie.m_id}}">Delete</a>
                    {% elif is_authenticated and review.is_current_user %}
                        <a href="/review/delete_review/{{movie_id}}">Delete</a>  
                    {%endif%}
                    |

                    <i>Review written by <a href="/profile/{{review.review.user.user}}">{{review.review.user.user}}</a> on {{review.review.date_created}}.</i>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="centered-text bot-margin"><i>There are currently no reviews for this movie.</i></div>
    {% endif %}
    {% if is_authenticated %}
        {% if not already_reviewed %}
            <div class="centered-text bot-margin"><button id="quick_review_button">Add Quick Review</button></div>
            <div id="add_review">
                <div id="quick_review" style="display: none;">
                    <form action="/review/submit_review" method="post">
                        {% csrf_token %}
                        Title:<br/>
                        <input name="review_title" id="review_title" type="text" placeholder="Review Title"> </input>
                        <div class="small-spacing"></div>
                        Review:<br/>
                        <textarea rows="5" cols="50" name="review_body" id="review_body" placeholder="Enter your review here..."></textarea><br/>
                        <input name="movie_id" style="display:none;" value="{{movie_id}}" />
                        <div class="centered-text top-margin"><button type="submit">Submit Review</button></div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}

{% block js %}
<script>
    $(window).bind("load", function() {
        var edit_review_url = "/review/edit_review/{{movie_id}}/";

        $('#quick_review_button').click(function() {
            if($('#quick_review').css("display") == "block") {
                $('#quick_review').css("display", "none");
                $("#quick_review_button").html("Add Quick Review");
            }
            else {  
                $('#quick_review').css("display", "block");
                $("#quick_review_button").html("Hide Quick Review");
                var something;
            }
        });

        $('#edit_review').click(function(e) {
            e.preventDefault();
            var current_review = $('#user_review_edit_content').html().trim();
            var current_review_title = $("#user_review_edit_title").html().trim();

            $(this).parent().parent().parent().html("<form action='"+edit_review_url+"' method='post'>{% csrf_token %}<input name='new_review_title' id='new_review_title' type='text' placeholder='Review Title' value='"+current_review_title+"'></input><br/><textarea rows='5' name='new_review_body' id='new_review_body' placeholder='Enter your review here...'>"+current_review+"</textarea><br/><div class='centered-text top-margin'><button type='submit'>Edit Review</input></div></form>");
        });

        $("#submit_edit").click(function() {
            alert("Edited review");
        });


        // This is seriously the dumbest way possible to do rating star highlighting
        {% if user_rating == None %}
            var rating = 0;
        {% else %}
            rating = {{user_rating}};
        {% endif %}

        $('#rating-stars div').hover(
            function() {
                var starNum = $(this).attr('id').substr(4);
                $(this).parent().nextAll().find('div').removeClass().addClass('star-white');
                for(var i=1; i<=starNum; i++) {
                    $('#star' + i).removeClass().addClass('star-black');
                }
            }, endHover
        );

        function endHover() {
            for(var i=1; i<=5; i++) {
                $('#star' + i).removeClass().addClass('star-white');
            }
            for(var i=1; i<=rating; i++) {
                $('#star' + i).removeClass().addClass('star-black');
            }
        }
    });
</script>
{% endblock %}
