{% if review_list %}
    {% for review in review_list %}
    {% if display_title %}
        <div class="review_for_movie"> <a href="/movie/detail/{{review.review.movie.m_id}}"> {{ review.review.movie.title }}</a></div>
    {% endif %}
    <div class="movie_review">
        <div class="user_review_title" {% if is_authenticated and review.is_current_user %} id="user_review_edit_title" {% endif %}>
            {{ review.review.review_title }}
        </div>

        <div class="user_review_body">{% if is_authenticated and review.is_current_user %}<div id="user_review_edit_content"> {% endif %}
            {{ review.review.review_body }}
        {% if is_authenticated and review.is_current_user %}</div>{%endif%}</div>

        <div>
            <div class="user_review_rating" {% if is_authenticated and review.is_current_user %}id="user_review_edit"{% endif %}>
                {{ review.upvote }} {% if is_authenticated %}<a href="/rating/rate/{{review.review.movie.m_id}}/0?review_of={{review.review.user.user}}">{%endif%}<img width="18px" src="/static/img/thumbs_up.png"/></a> | {% if is_authenticated %}{%endif%}
                {{ review.downvote }} {% if is_authenticated %}<a href="/rating/rate/{{review.review.movie.m_id}}/1?review_of={{review.review.user.user}}">{%endif%}<img width="18px" src="/static/img/thumbs_down.png"/> {% if is_authenticated %}</a>{%endif%}
            </div>

            <div class="review_author">
                {% if is_authenticated and review.is_current_user %} <a href="#" id="edit_review">Edit</a> |
                {% endif %}

                {% if is_admin %}
                    {% if not review.review.approved %}
                        <a href="/review/admin_approve_review/{{review.review.user.user}}/{{review.review.movie.m_id}}" id="approve_review">Approve</a> |
                    {% endif %}
                    <a href="/review/admin_delete_review/{{review.review.user.user}}/{{review.review.movie.m_id}}">Delete</a>
                {% elif is_authenticated and review.is_current_user %}
                    <a href="/review/delete_review/{{movie_id}}">Delete</a>
                {%endif%}
                |

                <i>Review written by <a href="/profile/{{review.review.user.user}}">{{review.review.user.user}}</a> on {{review.review.date_created}}.
                {% if review.review.date_edited %}
                    (Last Edited on {{ review.review.date_edited }})
                {% endif %}
                </i>
            </div>

            <div class="clear"></div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="centered-text bot-margin"><i>There are currently no reviews for this movie.</i></div>
{% endif %}