{% extends "base_generic.html" %}

{% block content %}

    <!-- User results -->
    <h3>Found {{ user_results|length }} users matching '{{ search_term }}'...</h3>
    <div class="content">
        {% for user in user_results %}
            <div class="user-item" style="clear: both;">
                <div class="title"><a href="/profile/{{ user.user.username }}">{{ user.user.username }}</a></div>
            </div>
        {% endfor %}
    </div>

    <!-- Movie results -->
    <h3>Found {{ movie_results.total_items }} movies matching '{{ search_term }}'...</h3>
    <div class="content">
        {% for item in movie_results.items %}
            <div class="movie-item" style="clear: both;">
                {% if item.poster_path != null %}
                    <div class="list-thumbnail">
                        <a href="/movie/detail/{{ item.m_id }}">
                            <img src="{{ item.poster_path }}" alt="thumbnail" class="thumbnail small" />
                        </a>
                    </div>
                {% endif %}

                <div class="title"><a href="/movie/detail/{{ item.m_id }}">{{ item.title }}</a></div>

            </div>
        {% endfor %}
    </div>

{% endblock %}