{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Videe-o</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    <!-- <link rel="stylesheet" href="{% static "css/main2.css" %}" />
    <link rel="stylesheet" href="{% static "css/ngo_post.css" %}" /> -->

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Michroma' rel='stylesheet' type='text/css'>
</head>
<body>
    {% include 'main/header.html' %}
    <div id="wrapper">
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <hr>
            COMS W4156 Advanced Software Engineering Project
            <br/>Matt Meisinger, Matt Suozzo, Alex Dong, Martin Li
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "js/jquery-1.9.0.min.js" %}"></script>

    <!-- Main -->
    <script src="{% static "js/main.js" %}"></script>

    <!-- Fancybox -->
    <link rel="stylesheet" href="{% static "js/fancybox/source/jquery.fancybox.css" %}" type="text/css">
    <script src="{% static "js/fancybox/source/jquery.fancybox.pack.js" %}"></script>

    <!-- Fancybox options -->
    <script>
        $(document).ready(function() {
            $(".login-link").fancybox({
                // maxWidth: 320
            });
            $(".signup-link").fancybox({
                // maxWidth: 240
            });
        });
    </script>

    <!-- Review Edit functions -->
    <script>
        $(window).bind("load", function() {

            $('.edit_review').click(function(e) {
                e.preventDefault();
                var current_movie_id = $(this).children().val();
                var current_review_div = $(this).parent().parent().parent();
                var current_review = current_review_div.find('.user_review_edit_content').html().trim();
                var current_review_title = current_review_div.find(".user_review_edit_title").html().trim();
                var edit_review_url = "/review/edit_review/"+current_movie_id+"/";

                current_review_div.html("<form action='"+edit_review_url+"' method='post'>{% csrf_token %}<input name='new_review_title' id='new_review_title' type='text' placeholder='Review Title' value='"+current_review_title+"'></input><br/><textarea rows='5' name='new_review_body' id='new_review_body' placeholder='Enter your review here...'>"+current_review+"</textarea><br/><div class='centered-text top-margin'><button type='submit'>Edit Review</input></div></form>");
            });

            $("#submit_edit").click(function() {
                alert("Edited review");
            });
        });
    </script>

    {% block js %}{% endblock %}
</body>
</html>