{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Videe-o</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    {% block css %}{% endblock %}

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Michroma' rel='stylesheet' type='text/css'>
</head>
<body>
    {% include 'main/header.html' %}
    <div id="wrapper">
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <hr>
            Hello this is a footer.
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "js/jquery-1.9.0.min.js" %}"></script>

    <!-- Main -->
    <script src="{% static "js/main.js" %}"></script>

    <!-- Fancybox -->
    <link rel="stylesheet" href="{% static "js/fancybox/source/jquery.fancybox.css" %}" type="text/css">
    <script src="{% static "js/fancybox/source/jquery.fancybox.pack.js" %}"></script>

    <!-- Fancybox options -->
    <script>
        $(document).ready(function() {
            $(".login-link").fancybox({
                // maxWidth: 320
            });
            $(".signup-link").fancybox({
                // maxWidth: 240
            });
        });
    </script>

    {% block js %}{% endblock %}
</body>
</html>