body {
    font-family: sans-serif;
}


/* Simple styles put in place by Matt M.
   Feel free to delete/revise. */
#container {
    width: 1000px;
    margin: auto;
}
.thumbnail {
    float: left;
    width: 280px;
    padding: 10px 10px;
}
.thumbnail.small {
    /* on modern browsers this works to constrain the image without affecting the aspect ratio */
    max-height: 100px;
    width: auto;
}
.detail {
    float: right;
    width: 680px;
    padding: 10px 10px;
}
.detail label {
    font-weight: bold;
}
.content {
    clear: both;
    padding: 10px 10px;
}
#search {
    float: right;
}
.movie-item .title {
    padding-top: 50px;
    font-weight: bold;
}