/* Simple styles put in place by Matt M.
   Feel free to delete/revise. */

/* Global styles */
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* General layout -- fixed-width container */
#container {
    width: 1000px;
    margin: auto;
}


.thumbnail {
    float: left;
    width: 280px;
    padding: 10px 10px;
}
.thumbnail.small {
    /* on modern browsers this works to constrain the image without affecting the aspect ratio */
    max-height: 100px;
    width: auto;
}
.detail {
    float: right;
    width: 680px;
    padding: 10px 10px;
}
.detail label {
    font-weight: bold;
}
.content {
    clear: both;
    padding: 10px 10px;
}
#search {
    float: right;
}

/* Movie items as they appear in lists */
.movie-item {
    height: 130px;
    clear: both;
}
.movie-item .title {
    padding-left: 120px;
    padding-top: 50px;
    font-weight: bold;
}

/* User items as they appear in lists */
.user-item {
    padding: 6px 20px;
}