{% extends "base_generic.html" %}

{% block content %}
    <h1 class="centered-text">{{user}}'s Lists</h1>

    {% for user_list in lists %}
    <div class = "user_list bot-margin" id="{{user_list.list_name}}">
        <h2>{{ user_list.list_name }} </h2>

        <div class="user_list_movies" id="movies_{{user_list.list_name}}">
            {% for list_item in user_list.list_items %}
                <div class="movie_entry"> 
                    <div class="entry_info movie_title"> <a href="/movie/detail/{{list_item.movie.m_id}}"> {{ list_item.movie.title }}</a> 
                    {% if list_item.rating.rating != -1 %}
                        [{{ list_item.rating.rating }}]
                    {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

     <div id="list_create" class="centered-text bot-margin">
        <form action="/profile/create_list" method="post">
            {% csrf_token %}
            <input name="list_name" id="list_name" type="text" placeholder="Enter list name..."><button type="submit">Create New List</button>
        </form>
    </div>

    <div class="centered-text">
        <a href="/profile/{{user}}">Back to Profile</a>
    </div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {

        $('.user_list').each(function() {
            var id = $(this).attr('id').replace(/ /g,'');
            $(this).attr('id',id);
        });
        $('.user_list_movies').each(function() {
            var id = $(this).attr('id').replace(/ /g,'');
            $(this).attr('id',id);
        });

        $('.user_list').click(function() {
            var id = $(this).attr('id');
            $('#movies_' + id).slideToggle(300);
        });

        $('.user_list a').click(function(e) {
            e.stopPropagation();
        });
    });
</script>
{% endblock %}