{% extends "base_generic.html" %}

{% block css %}
    <style>
        .user_profile {
            font-size: 25px;
            width: 350px;
            text-align: center;
            margin-top: 40px;
            float: left;
        }

        .profile_picture {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            height: 350px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .user-stats {
            margin-top: 100px;
            float: right;
        }

        .recently_written_reviews {
            font-size: 25px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 100px;
        }
        .movie_review {
            height: 200px;
            width: 500px;
            border-radius: 20px;
            margin-bottom: 10px;
            padding: 20px;
            border-style: solid;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
        }

        .user_review_title {
            font-weight: bold;
        }

        .review_author {
            position: absolute;
            bottom: 0px;
        }

        .review_for_movie {
            margin-top: 15px;
            font-weight: bold;
        }

    </style>
{% endblock %}


{% block content %}
    <div class="user_profile">
        {{ current_user }}
        <div class="profile_picture">
            <br/><br/><br/>
            Profile Picture Goes Here (if none allow user to upload)
        </div>
        <div class="user_quick_links">
            <a href="/profile/lists/{{current_user}}">Personal Movie List</a><br/>
            <a href="/profile/friends_list/{{current_user}}">Friends List</a><br/>
            <a href="#">More Links</a><br/>
            <a href="#">Even More Links</a><br/>
            <a href="#" id="list_create_button">Create a New List</a><br/>
            <div id="list_create" style="display: none">
                <form action="/profile/create_list" method="post">
                    {% csrf_token %}
                    Name:
                    <input name="list_name" id="list_name" type="text" placeholder="List Name"><br/>
                    <button type="submit">Create List</button>
                </form>
            </div>
        </div>
    </div>

    <div class="user-stats">
        <h2>User Statistics</h2>
        Joined: {{ user_stats.join_date }}
        <br/>Movies Watched: {{ user_stats.num_watched }}
        <br/>Movies Reviewed: {{ user_stats.num_reviewed }}
        <br/>Movies Rated: {{ user_stats.num_rated }}
        <div class="bot-margin"></div>
    </div>

    <div class="recently_written_reviews">
        <br/>Recent Reviews:

        {% include 'review/reviews.html' %}

    </div>


{% endblock %}

{% block js %}
<script>
    $(window).bind("load", function() {

        $('#list_create_button').click(function() {
            if($('#list_create').css("display") == "block") {
                $('#list_create').css("display", "none");
            }
            else {
                $('#list_create').css("display", "block");
            }
        });
    });
</script>
{% endblock %}