{% extends "base_generic.html" %}

{% block content %}
    <div class="user_profile">
        <h1 class="centered-text">User &#187; {{ current_user }}</h1>

        <div id="profile_main">

            <img src="/static/img/default_profile.png" class="profile_pic" alt="Profile Image"/> 

            <h2>User Statistics</h2>
            Joined: {{ user_stats.join_date }}
            <br/>Movies Watched: {{ user_stats.num_watched }}
            <br/>Movies Reviewed: {{ user_stats.num_reviewed }}
            <br/>Movies Rated: {{ user_stats.num_rated }}
            <div class="bot-margin"></div>
            <a href="/profile/lists/{{current_user}}">View Movie Lists</a><br/>
            <!-- 
                OUT OF SCOPE (NOT IMPLEMENTED)
                {% if is_authenticated %}
                    <a href="#">Add to Friends</a>
                {% endif %}
            -->
            
        </div>

        <div class="clear bot-margin-big"></div>
    </div>

    <div class="recently_reviews">
        <div class="centered-text"><h1>Recent Reviews</h1></div>

        {% include 'review/reviews.html' %}

    </div>


{% endblock %}

{% block js %}
<script>
    $(window).bind("load", function() {

        $('#list_create_button').click(function() {
            if($('#list_create').css("display") == "block") {
                $('#list_create').css("display", "none");
            }
            else {
                $('#list_create').css("display", "block");
            }
        });
    });
</script>
{% endblock %}