{% extends "base_generic.html" %}

{% block css %}
    <style>
        .user_profile {
            font-size: 25px;
            width: 350px;
            text-align: center;
            margin-top: 40px;
            float: left;
        }

        .profile_picture {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            height: 350px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .user-stats {
            margin-top: 100px;
            float: right;
        }

        .recently_written_reviews {
            font-size: 25px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 100px;
        }
        .movie_review {
            height: 200px;
            width: 500px;
            border-radius: 20px;
            margin-bottom: 10px;
            padding: 20px;
            border-style: solid;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
        }

        .user_review_title {
            font-weight: bold;
        }

        .review_author {
            position: absolute;
            bottom: 0px;
        }

        .review_for_movie {
            margin-top: 15px;
            font-weight: bold;
        }

    </style>
{% endblock %}


{% block content %}
    <div class="user_profile">
        {{ current_user }}
        <div class="profile_picture">
            <br/><br/><br/>
            Profile Picture Goes Here (if none allow user to upload)
        </div>
        <div class="user_quick_links">
            <a href="/profile/userlist/{{current_user}}">Personal Movie List</a><br/>
            <a href="/profile/friends_list/{{current_user}}">Friends List</a><br/>
            <a href="#">More Links</a><br/>
            <a href="#">Even More Links</a><br/>
        </div>
    </div>

    <div class="user-stats">
        <h2>User Statistics</h2>
        Joined: {{ user_stats.join_date }}
        <br/>Movies Watched: {{ user_stats.num_watched }}
        <br/>Movies Reviewed: {{ user_stats.num_reviewed }}
        <br/>Movies Rated: {{ user_stats.num_rated }}
        <div class="bot-margin"></div>

        <div class="recently_written_reviews">
        <br/>Recent Reviews:

        {% for review in recent_reviews %}
            <div class="review_for_movie"> <a href="/movie/detail/{{review.review.movie.m_id}}"> {{ review.review.movie.title }}</a></div>

            <div class="movie_review">
                <div class="user_review_title" {% if is_authenticated and review.is_current_user %} id="user_review_edit_title" {% endif %}>
                    {{ review.review.review_title }}
                </div>

                <div class="user_review_body">{% if is_authenticated and review.is_current_user %}<div id="user_review_edit_content"> {% endif %}
                    {{ review.review.review_body }}            
                    {% if is_authenticated and review.is_current_user %}</div>{%endif%}</div>

                    <div>
                        <div class="user_review_rating" {% if is_authenticated and review.is_current_user %}id="user_review_edit"{% endif %}>
                            {{ review.upvote }} <img width="18px" src="/static/img/thumbs_up.png"/> | 
                            {{ review.downvote }} <img width="18px" src="/static/img/thumbs_down.png"/>
                        </div>

                        <div class="review_author">
                            {% if is_authenticated and review.is_current_user %} <a href="#" id="edit_review">Edit</a> |
                            {% endif %}

                            {% if is_administrator %}
                                {% if not review.review.approved %}
                                <a href="/review/admin_approve_review/{{review.review.user.user}}/{{review.review.movie.m_id}}" id="approve_review">Approve</a> |
                                {% endif %}
                            <a href="/review/admin_delete_review/{{review.review.user.user}}/{{review.review.movie.m_id}}">Delete</a>
                            {% elif is_authenticated and review.is_current_user %}
                            <a href="/review/delete_review/{{review.review.movie.m_id}}">Delete</a>
                            {%endif%}
                            |

                            <i>Review written by <a href="/profile/{{review.review.user.user}}">{{review.review.user.user}}</a> on {{review.review.date_created}}.
                                {% if review.review.date_edited %}
                                (Last Edited on {{ review.review.date_edited }})
                                {% endif %}
                            </i>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>

        {% endfor %}
        </div>
    </div>
    </div>


{% endblock %}

{% block js %}
<script>
    $(window).bind("load", function() {
        
        $("#edit_review").click(function() {
            current_review = $("#user_review_edit_content").html().trim();
            current_review_title = $("#user_review_edit_title").html().trim();
            $("#user_review_edit").html("<form action=\""+edit_review_url+"\" method=\"post\">{% csrf_token %}<input style=\"position:absolute; top:5px; left: 10px; width: 90%; \" name=\"new_review_title\" type=\"text\" value=\""+current_review_title+"\"></input><textarea name=\"new_review_body\" style=\"width:"+ ($(".movie_review").width()+25) + "px; height: " + ($(".movie_review").height()) + "px; position: absolute; top:30px; left:5px; resize: none;\">" + current_review + "</textarea><input type=\"submit\" value=\"Edit Review\" style=\"position: absolute; left: "+ (($(".movie_review").width())/2 - 25) +"px; bottom: 0px;\"> </input></form><a href=\"/review/delete_review/{{movie_id}}/\"><button style=\"position: absolute; bottom: 0px;\"> Delete Review </button></a>");
        });

        $("#submit_edit").click(function() {
            alert("Edited review");
        });
    });
</script>
{% endblock %}